apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend-container
        image: node-backend:latest
        imagePullPolicy : IfNotPresent
        restart: Always
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
          requests:
            memory: "64Mi"
            cpu: "250m"
        ports:
        - containerPort: 8080
        env:
        - name: NODE_ENV
          value: "production"
        - name: PORT
          valueFrom: 
            secretKeyRef:
              name: backend-secret
              key: PORT
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: backend-secret
              key: JWT_SECRET
        - name: JWT_REFRESH_SECRET
          valueFrom:
            secretKeyRef:
              name: backend-secret
              key: JWT_REFRESH_SECRET
        - name: DB_URL
          valueFrom:
            configMapKeyRef:
              name: backend-secret
              key: DB_URL
        - name: BCRYPT_SALT_ROUNDS
          valueFrom:
            secretKeyRef:
              name: backend-secret
              key: BCRYPT_SALT_ROUNDS
        - name: EMAIL_USER
          valueFrom:
            secretKeyRef:
              name: backend-secret
              key: EMAIL_USER

      - name: goExec-container
        image: goExec:latest
        imagePullPolicy : IfNotPresent
        restart: Always
        resources:
          limits:
            memory: "128Mi"
            cpu: "128Mi"
          requests:
            memory: "128Mi"
            cpu: "128Mi"
        ports:
        - containerPort: 6379
